<button mat-button (click)="openDialog()" mat-raised-button color="primary"> Edit Profile </button>
<mat-card>
    <mat-card-header  class="heading">
        <mat-card-title>Business Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card>

            <mat-card-content>
                <div *ngFor="let item of data">
                    <mat-card-header class="cardHeader">
                        <mat-icon>account_circle</mat-icon>
                        <h2>Profile</h2>
                    </mat-card-header>
                    <button mat-button mat-raised-button color="warn" (click)="editProfile(item)"> Edit Profile </button>
                    <h2>Name : {{item.clientName}}</h2>
                    <h2>Domain : {{item.clientDomain}}</h2>
                    <h2>Gender : {{item.clientGender}}</h2>
                    <h2>Date of Birth : {{item.clientDOB | date:'longDate'}}</h2>
                    <h2>Mobile Number : {{item.clientContact}}</h2>
                    <h2>Location : {{item.clientLocation}}</h2>
                    
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>


