/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 


@media(max-width:998px){
html{
    font-size: 10%;
}
  }
  
  @media(min-width:768px){
    html{
      font-size: 45%;
    }
  }
  
  @media(min-width:558px){
    html{
      font-size: 35%;
    }
  }
  
  @media(min-width:358px){
    html{
      font-size: 15%;
    }
  }